body {
  height: 100%;
  margin: 0;
}


.container {
  min-height: 100vh;
  background: #b0a7a7;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 10px;
  gap: 10px;
}


header {
  color: white;
  text-align: center;
  padding: 15px;
  background-color : rgb(180, 86, 147);
  border-radius: 8px;
}


.main {
  display: grid;
  gap: 13px;
}


.aside-1, .aside-2 {
  background-color: rgb(57, 146, 193);
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
}


.content {
  background-color: rgb(51, 174, 112);
  padding: 25px;
  border-radius: 8px;
}


.article {
  text-align: center;
  color: white;
}

.article h2 {
  margin-bottom: 15px;
}


.columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.column {
  background-color: rgb(218, 21, 21);
  color: white;
  padding: 10px;
  border-radius: 8px;
}

footer {
  color: white;
  text-align: center;
  background-color: rgb(171, 113, 4);
  padding: 15px;
  border-radius: 8px;
}

@media (min-width: 800px) {
  .main {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .columns {
    grid-template-columns: repeat(3, 1fr);
  }

  .column {
  padding: 60px;
}

.aside-1,.aside-2 {
display: grid;
  place-items: center;
}

.content {
display: grid;
  align-content: end;
}

header, footer {
 padding: 25px;
}

} 